<div class="footer">
        <div class="footer-links">

          <%= link_to root_path, class: "link-page" do %>
             <div class="nav-buttons nav-active">
              home
             </div>
          <% end %>



          <%= link_to denhelder_path, class: "link-page"  do %>
            <div class="nav-buttons">Den Helder</div>
          <% end %>

          <%= link_to impressie_path, class: "link-page"  do %>
            <div class="nav-buttons nav-inloop">opzet
            <!-- <img src="https://i.imgur.com/RJCRaWw.png" alt=""> -->
            </div>
          <% end %>


          <%= link_to t72_path, class: "link-page"  do %>
            <div class="nav-buttons nav-72">T-72</div>
          <% end %>

          <%= link_to t48_path, class: "link-page"  do %>
            <div class="nav-buttons nav-48">T-48</div>
          <% end %>

          <%= link_to t24_path, class: "link-page"  do %>
            <div class="nav-buttons nav-24">T-24</div>
          <% end %>


          <%= link_to doorbraak_path, class: "link-page"  do %>
            <div class="nav-buttons nav-doorbraak">doorbraak</div>
          <% end %>

        </div>

        <%= link_to info_path do %>

          <div class="footer-right">

            <i class="fas fa-info-circle"></i>
            <div class="tu-logo-small"></div>

 <!--              <div class="hhnk-logo-small"></div>
              <div class="slot-logo-small"></div> -->




          </div>
        <% end %>

      </div>
