<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SOSFLOODING</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <div class="footer">
      <div class="footer-links">

        <%= link_to root_path do %>
           <div class="nav-buttons"></div>
        <% end %>

        <%= link_to inloop_path do %>
          <div class="nav-buttons">inloop</div>
        <% end %>

        <%= link_to introductie_path do %>
          <div class="nav-buttons no-link_style">introductie</div>
        <% end %>

        <%= link_to t72_path do %>
          <div class="nav-buttons gebied no-link_style">T-72</div>
        <% end %>

        <%= link_to t48_path do %>
          <div class="nav-buttons flood ">T-48</div>
        <% end %>

        <%= link_to t24_path do %>
          <div class="nav-buttons flood">T-24</div>
        <% end %>


        <%= link_to doorbraak_path do %>
          <div class="nav-buttons flood">doorbraak</div>
        <% end %>

      </div>

      <%= link_to info_path do %>
        <div class="footer-right timeline-logo">
          <i class="fas fa-info-circle"></i>
        </div>
      <% end %>



    </div>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>



  </body>
</html>
