<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <div class="footer">
      <div class="footer-links">

        <%= link_to root_path do %>
           <div class="footer-links-active">
              <i class="fas fa-home"></i>
            </div>
        <% end %>

        <%= link_to gebiedsverkenning_path do %>
          <i class="fas fa-search-location"></i>
        <% end %>

        <%= link_to water_path do %>
          <i class="fas fa-water"></i>
        <% end %>

        <i class="fas fa-exclamation-circle"></i>

        <i class="fas fa-user-friends"></i>
        <i class="fas fa-user-tie"></i>
        <i class="fas fa-running"></i>
      </div>

      <div class="footer-right timeline-logo">
        <i class="fas fa-info-circle"></i>
      </div>

    </div>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>



  </body>
</html>
