<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SOSFLOODING</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <div id="page-container">


      <div id="content-wrap">
        <%= yield %>
      </div>

      <div class="footer">
        <div class="footer-links">

          <%= link_to root_path, class: "link-page" do %>
             <div class="nav-buttons nav-active">
              masterclass
              <h6>HOME</h6>
               <!-- <img src="https://i.imgur.com/UW86pW0.png" alt=""> -->
             </div>
          <% end %>

          <%= link_to inloop_path, class: "link-page"  do %>
            <div class="nav-buttons nav-inloop">inloop
            <!-- <img src="https://i.imgur.com/RJCRaWw.png" alt=""> -->
            </div>
          <% end %>

          <%= link_to introductie_path, class: "link-page" do %>
            <div class="nav-buttons nav-introductie">introductie</div>
          <% end %>

          <%= link_to t72_path, class: "link-page"  do %>
            <div class="nav-buttons nav-72">T-72</div>

          <% end %>

          <%= link_to t48_path, class: "link-page"  do %>
            <div class="nav-buttons nav-48">T-48</div>
          <% end %>

          <%= link_to t24_path, class: "link-page"  do %>
            <div class="nav-buttons nav-24">T-24</div>
          <% end %>


          <%= link_to doorbraak_path, class: "link-page"  do %>
            <div class="nav-buttons nav-doorbraak">doorbraak</div>
          <% end %>

        </div>

        <%= link_to info_path do %>
          <div class="footer-right">
            <div class="hhnk-logo-small"></div>
            <div class="tu-logo-small"></div>
            <i class="fas fa-info-circle"></i>
          </div>
        <% end %>

      </div>

    </div>


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>



  </body>
</html>
